@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#productContainer {
    margin-right: auto;
    margin-left: auto;
}

#logo {
    width: 450px;
}

.headerGrande {
    width: 100%;
    padding: 30px 50px;
    margin-bottom: 100px;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -3px 6px 15px black;
    background-image: url("assets/bg2.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.headerPiccolo {
    width: 100%;
    padding-left: 10px;
    margin-bottom: 100px;
    height: 220px;
    box-shadow: -3px 6px 15px black;
    background-image: url("assets/bg2.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

body {
    background-image: url("assets/bg3.jpg");
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.card {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.493);
    border: solid 3px rgb(77, 77, 77);
    border-radius: 20px;
    margin-bottom: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.493);
}

.card h1 {
    font-size: 24px;
    height: 70px;
}

.card img {
    height: 200px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    border-bottom: solid 3px rgb(77, 77, 77);
}

.card p {
    font-weight: 600;
    color: black;
}

.card span {
    padding: 10px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border-radius: 50%;
    border: none;
    background: rgb(41, 213, 37);
    background: linear-gradient(312deg, rgba(41, 213, 37, 0.711922268907563) 0%, rgba(37, 144, 195, 0.7203256302521008) 100%);
}

.btnmod {
    padding: 5px 10px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.493);
    border: none;
    background: rgba(40, 213, 37, 0.541);
    background: linear-gradient(164deg, rgba(40, 213, 37, 0.63) 0%, rgba(37, 145, 195, 0.781) 100%);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btnmod:hover {
    transform: scale(1.1);
    border: none;
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.493);
}

.card-body {
    border-radius: 0 0 20px 20px;
    background-image: url("assets/asd.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.truncate-text {
    max-width: 200px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mod {
    width: 310px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

.modal-content {
    border-radius: 32px
}

.custom-modal-header {
    background: rgb(213, 66, 37);
    background: linear-gradient(312deg, rgba(213, 66, 37, 1) 0%, rgba(228, 184, 21, 1) 100%);
    color: white;
    border-radius: 30px 30px 0 0;
}

.custom-modal-body {
    background-color: #f0f0f0;
    border-radius: 0 0 30px 30px;
}

.imgModal {
    border-radius: 20px;
    object-fit: cover;
    width: 80%;
    height: 500px;
}

.modalText {
    text-align: center;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.custom-close-icon {
    font-size: 24px;
    color: white;
    cursor: pointer;
}


.bi-gear-fill {
    font-size: 45px;
    cursor: pointer;
    background: -moz-linear-gradient(top, rgba(213, 66, 37, 1) 0%, rgba(228, 184, 21, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(213, 66, 37, 1) 0%, rgba(228, 184, 21, 1) 100%);
    background: linear-gradient(to bottom, rgba(213, 66, 37, 1) 0%, rgba(228, 184, 21, 1) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform 0.3s ease;
}

.bi-gear-fill:hover {
    transform: scale(1.2);
}

.iconaBottone {
    height: 75px;
    width: 50px;
    padding: 0;
    transition: transform 0.3s ease;
}

.iconaBottone:hover {
    transform: scale(1.2);
}

.iconaBottone:active {
    border: none;
}

.iconaBottone:focus {
    border: none;
}